---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
+<a href="/">Início</a>
+<a href="/about/">Sobre</a>
+<a href="/blog/">Blog</a>

<Layout>
	<h1>Portfólio Natasha Santos</h1>
	<h2>Programadora júnior</h2>

	<h1>Sobre mim</h1>
	<p>Programadora júnior com foco em desenvolvimento de sites utilizando Astro e Tailwind. 
		Proporcionando páginas com rápido carregamento e melhor desempenho para as vendas da sua empresa.
	</p>
	<p>Estou sempre em busca de novos desafios e aprendizados e estou animada para contribuir com projetos interessantes e inovadores.</p>	
	<Welcome />
</Layout>
